body {
  /*background: url(bg.png) bottom right no-repeat;*/
  color: #fff;
  font-family: "SF UI Text", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: lighter;
  margin: 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

h1, h2, h3 {
  font-weight: 400;
  /*margin: 0;*/
}

h1 { font-size: 48px; }
h2 { font-size: 24px; margin: 50px 0; }
h3 { font-size: 18px; }



.logo {
  margin-top:20px;
  margin-left: 20px;
}

.gif {
  background: rgba(255,255,255, 1);
  color: #333;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  border-radius: 4px;
}

.logo h1 {
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 14px;
  color: #fff;
}

.container {
  width: 50%;
  margin: 100px auto 0;
  text-align: center;
}

.current-temp {
  font-size: 140px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.current-icon {
  font-size: 21px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

p {
  margin: 0;
}


/* Mobile Styles */

@media all and (max-width: 768px) {

  .logo {
    margin-top:40px;
    margin-left: 40px;
  }

  .gif {
    background: rgba(255,255,255, 1);
    color: #333;
    padding: 10px 15px;
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    border-radius: 4px;
  }

  .logo h1 {
    display: inline-block;
    margin: 0 0 0 15px;
    font-size: 40px;
    color: #fff;
  }

  .container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    width: 100%
  }

  .current-temp {
    font-size: 240px;
  }

  .current-icon {
    font-size: 66px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  }
}
