body {
  color: #fff;
  font-family: "SF UI Text", "Helvetica Neue", "Helvetica", sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1, h2, h3 {
  font-weight: 400;
}

h1 { font-size: 48px; }
h2 { font-size: 24px; margin: 50px 0; }
h3 { font-size: 18px; }

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  margin-bottom: -40px;
}

.logo {
  margin: 20px 0 0 20px;
  display: inline-block;
}

.gif {
  background: rgba(255,255,255, 1);
  color: #333;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  border-radius: 4px;
}

.logo h1 {
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 14px;
  color: #fff;
}

.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.current-icon, .current-temp, .current-location {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.current-temp {
  font-size: 140px;
  margin: 10px 0;
}

.current-icon, .current-location {
  font-size: 21px;
  color: rgba(255, 255, 255, 0.7);
}

p {
  margin: 0;
}

footer {
  height: 40px;
  padding: 10px 20px;
  font-size: 10px;
  box-sizing: border-box;
  color: #fff;
}

a {
  color: #fff;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Mobile Styles */

@media all and (max-width: 699px) and (min-width: 200px) {
  .current-temp {
    font-size: 140px;
  }

  .current-icon, .current-location {
    font-size: 31px;
  }

  footer {
    font-size: 12px;
  }
}

@media all and (display-mode: standalone) {
  .logo {
    margin: 40px 0 0 20px;
    display: inline-block;
  }
}
